#temporal {
    grid-column: 2;
    grid-row: 4;    
    white-space: pre-line;
    background-color: gray;
}

body{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    background-color: rgb(50, 50, 50);
    font-size: max(1vw, 18px);
    overflow-x: hidden;
}

body>h1{
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}

#invoiceContainer {
    grid-column: 2;
    grid-row: 2;
}

#invoice {
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
}

.inputContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1vw;
    padding: 7px;
    border-top: black solid 3px;
    border-right: black solid 3px;
    border-left: black solid 3px;
}

.inputContainer:first-of-type {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.inputContainer:last-of-type {
    border-bottom: black solid 3px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 5px;
}

.inputContainer>div {
    display: flex;
    gap: 5px;
}

input, select {
    border-radius: 5px;
    border-width: 3px;
    border-color: rgb(50, 50, 50);
}

input:focus {
    outline: 0;
}

.tooltip {
    position: relative;
}

.tooltip>i {
    color: rgb(255, 255, 255);
    margin-top: 2px;
}

.tooltip>span {
    white-space: nowrap;
    position: absolute;
    visibility: hidden;
    top: 110%;
    left: -1000%;
    z-index: 1;

    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
}

.tooltip:hover>span {
    visibility: visible;
}
