body{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    background-color: rgb(50, 50, 50);
    font-size: max(1vw, 18px);
    overflow-x: hidden;
}

#invoiceContainer {
    grid-column: 2;
    grid-row: 2;
}

#invoice {
    display: flex;
    flex-direction: column;
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
}

.inputContainer {
    padding: 7px;
    margin-top: 20px;
    
    border: black solid 3px;
    border-radius: 5px;
    background-color: rgb(110, 110, 110);
}

.inputContainer:first-of-type {
    margin-top: 0px;
}

.inputContainer>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 4px;
    padding-top: 4px;
    border-bottom: rgb(85, 85, 85) solid 3px;
}

.inputContainer>div:last-child {
    border-bottom: 0px;
}

.inputContainer>div>div{
    display: flex;
    gap: 5px;
    padding: 5px;
}

input, select, button {
    border-radius: 5px;
    border-width: 3px;
    border-color: rgb(50, 50, 50);
    max-width: 15vw;
}

select>option:first-child {
    display: none;
}

input:focus {
    outline: 0;
}

input[type=submit], button[type=button]{
    justify-self: right;
    align-self: flex-end;
    width: max-content;
    font-size: 16px;
}

.tooltip {
    position: relative;
}

.tooltip>i {
    color: rgb(255, 255, 255);
    margin-top: 2px;
}

.tooltip>span {
    position: absolute;
    visibility: hidden;
    min-width: 5vw;
    top: 110%;
    left: -1000%;
    z-index: 1;

    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
}

.tooltip:hover>span {
    visibility: visible;
}

#positionContainer {
    margin-top: 10px;
    border: black solid 5px;
    border-radius: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px;
    flex-direction: row-reverse;
}

#addPositionButton {
    margin-top: 5px;
}

.removePositionButton {
    margin-top: -15px;
}


.awesomplete > ul {
    max-height: 75vh;
    overflow-y: auto;
}

:required {
    background-color: yellow;
}

input:not([type=submit]):read-only {
    border-color: red;
}
