body{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr auto auto;
    background-color: rgb(60, 60, 60);
    font-size: max(1vw, 18px);
    overflow-x: hidden;
}
