@(implicit request: RequestHeader)
@import utility.FormInputHelper._
@main("E Rechnung erstellen", "main.css"){
<!-- group_NAME corresponds to the groups named in the documentation of X-Rechnung. Each input field is named like their equivalent in the Documentation. -->
<!-- The content of the description in the <span> fields has been taken from the documentation of X-Rechnung. -->
    <div id="invoiceContainer">
      <form action="@routes.HomeController.generateEInvoice()" method="post" id="invoice" target="_blank">
        @helper.CSRF.formField
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_INVOICE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="inputContainer">
          <div id="group_INVOICE">
            @GenerateInputField("Invoice Number", "Eindeutige Kennung der Rechnung", true) <!-- BT-1 -->
            @GenerateInputField("Invoice Issue Date", "Das Datum, an dem die Rechnung ausgestellt wurde", true, true, inputType="date") <!-- BT-2 -->
            <div>
              <label for="InvoiceTypeCode">Invoice Type Code:</label>
              <select name="InvoiceTypeCode" required> <!-- BT-3 -->
                <option disabled selected value=""> -- select a code -- </option>
                <option value="326">326 (Partial invoice)</option>
                <option value="380">380 (Commercial invoice)</option>
                <option value="381">381 (Credit note)</option>
                <option value="384">384 (Corrected invoice)</option>
                <option value="389">389 (Self-billed invoice)</option>
                <option value="875">875 (Partial construction invoice)</option>
                <option value="876">876 (Partial final construction invoice)</option>
                <option value="3877">877 (Final construction invoice)</option>
              </select>
              <div class="tooltip">
                <i class="fa-solid fa-circle-info"></i>
                <span>Ein Code, der den Funktionstyp der Rechnung angibt.</span>
              </div>
            </div>
            @GenerateInputField("Invoice Currency Code", "Die Währung, in der alle Rechnungsbeträge angegeben werden, ausgenommen ist der Umsatzsteuer-Gesamtbetrag, der in der Abrechnungswährung anzugeben ist.", true, classes="awesomplete", data="ISO_ISO3AlphaCurrencyCode_2012-08-31.xsd") <!-- BT-5 -->
            @GenerateInputField("Buyer Reference", "Ein vom Erwerber zugewiesener und für interne Lenkungszwecke benutzter Bezeichner.", true) <!-- BT-10 -->
            @GenerateInputField("VAT Accounting Currency Code", "Die für die Umsatzsteuer-Abrechnungs- und -Meldezwecke verwendete Währung, die im Land des Verkäufers gültig ist oder verlangt wird.") <!-- BT-6 -->
            @GenerateInputField("Value Added Tax Point Date", "Das Datum, zu dem die Umsatzsteuer für den Verkäufer und für den Erwerber abrechnungsrelevant wird.", inputType="date") <!-- BT-7 -->
            <div>
              <label for="ValueAddedTaxPointDateCode">Value Added Tax Point Date Code:</label>
              <select name="ValueAddedTaxPointDateCode" > <!-- BT-8 -->
                <option disabled selected value=""> -- select a code -- </option>
                <option value="3">3 (Invoice document issue date time)</option>
                <option value="35">35 (Delivery date/time, actual)</option>
                <option value="432">432 (Paid to date)</option>
              </select>
              <div class="tooltip">
                <i class="fa-solid fa-circle-info"></i>
                <span>Ein Code für den Zeitpunkt, an dem die Umsatzsteuer für den Erwerber und den Verkäufer in der Buchführung nachzuweisen ist.</span>
              </div>
            </div>
            @GenerateInputField("Payment Due Date", "Das Fälligkeitsdatum des Rechnungsbetrages.", inputType="date") <!-- BT-9 -->
            @GenerateInputField("Project Reference", "Die Kennung eines Projektes, auf das sich die Rechnung bezieht.") <!-- BT-11 -->
            @GenerateInputField("Contract Reference", "Eine eindeutige Bezeichnung des Vertrages (z. B. Vertragsnummer).") <!-- BT-12 -->
            @GenerateInputField("Purchase Order Reference", "Eine vom Erwerber ausgegebene Kennung für eine referenzierte Bestellung.") <!-- BT-13 -->
            @GenerateInputField("Sales Order Reference", "Eine vom Verkäufer ausgegebene Kennung für einen referenzierten Auftrag.") <!-- BT-14 -->
            @GenerateInputField("Receiving Advice Reference", "Eine Kennung für eine referenzierte Empfangsbestätigung.") <!-- BT-15 -->
            @GenerateInputField("Despatch Advice Reference", "Eine Kennung für eine referenzierte Versandanzeige.") <!-- BT-16 -->
            @GenerateInputField("Tender Or Lot Reference", "Die Kennung der Ausschreibung oder des Loses auf die/das sich die Rechnung bezieht.") <!-- BT-17 -->
            @GenerateInputField("Invoiced Object Identifier", "Eine vom Verkäufer angegebene Kennung für ein Objekt, auf das sich die Rechnung bezieht.") <!-- BT-18 -->
            @GenerateInputField("Buyer Accounting Reference", "Ein Textwert, der angibt, an welcher Stelle die betreffenden Daten in den Finanzkonten des Erwerbers zu buchen sind.") <!-- BT-19 -->
            @GenerateInputField("Payment Terms", "Eine Textbeschreibung der Zahlungsbedingungen, die für den fälligen Zahlungsbetrag gelten.") <!-- BT-20 -->
          </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_PROCESS-CONTROL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="inputContainer">
          <div id="group_PROCESS-CONTROL">
            <!-- Currently ignored -->
            @GenerateInputField("Business Process Type", "Identifiziert den Kontext des Geschäftsprozesses, in dem die Transaktion erfolgt.") <!-- BT-23 -->
             <!-- value is set in SetHardCodedInputs() -->
            @GenerateInputField("Specification Identifier", "Eine Kennung der Spezifikation, die das gesamte Regelwerk zum semantischen Inhalt, zu den Kardinalitäten und den Geschäftsregeln enthält, dem die in der Rechnung enthaltenen Daten entsprechen.", dontShow=true)
          </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_SELLER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="inputContainer">
          <div id="group_SELLER">
            @GenerateInputField("Seller Name", "Der vollständige Name, unter dem der Verkäufer im nationalen Register für juristische Personen oder als steuerpflichtige Person eingetragen ist oder anderweitig als Person(en) handelt (Firma).", true) <!-- BT-27 -->
            @GenerateInputField("Seller Electronic Address", "Gibt die elektronische Adresse des Verkäufers an, an die die Antwort der Anwendungsebene auf eine Rechnung gesendet werden kann.", true, inputType="email") <!-- BT-34 -->
            @GenerateInputField("Seller Trading Name", "Ein Name, unter dem der Verkäufer bekannt ist, sofern abweichend vom Namen des Verkäufers.") <!-- BT-28 -->
            @GenerateInputField("Seller Identifier", "Der vollständige Name, unter dem der Verkäufer im nationalen Register für juristische Personen oder als steuerpflichtige Person eingetragen ist oder anderweitig als Person(en) handelt (Firma).") <!-- BT-29 -->
            @GenerateInputField("Seller Legal Registration Identifier", "Eine von einer offiziellen Registrierstelle ausgegebene Kennung, die den Verkäufer als Rechtsträger oder juristische Person identifiziert.") <!-- BT-30 -->
            @GenerateInputField("Seller VAT Identifier", "Die Umsatzsteuer-Identifikationsnummer des Verkäufers.") <!-- BT-31 -->
            @GenerateInputField("Seller Tax Registration Identifier", "Eine örtliche steuerrechtliche Kennung des Verkäufers (bestimmt durch dessen Adresse) oder ein Verweis auf seinen eingetragenen Steuerstatus.") <!-- BT-32 -->
            @GenerateInputField("Seller Additional Legal Information", "Weitere rechtliche Informationen, die für den Verkäufer maßgeblich sind (wie z. B. Grundkapital).") <!-- BT-33 -->
          </div>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_SELLER-POSTAL-ADDRESS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <div id="group_SELLER-POSTAL-ADDRESS">
            @GenerateInputField("Seller City", "Die Bezeichnung der Stadt oder Gemeinde, in der sich die Verkäuferanschrift befindet.", true) <!-- BT-37 -->
            @GenerateInputField("Seller Post Code", "Die Postleitzahl.", true) <!-- BT-38 -->
            @GenerateInputField("Seller Country Code", "Ein Code, mit dem das Land bezeichnet wird.", true, classes="awesomplete", data="ISO_ISOTwo-letterCountryCode_SecondEdition2006.xsd") <!-- BT-40 -->
            @GenerateInputField("Seller Address Line 1", "Die Hauptzeile in einer Anschrift. Üblicherweise ist dies entweder Strasse und Hausnummer oder der Text „Postfach“ gefolgt von der Postfachnummer.") <!-- BT-35 -->
            @GenerateInputField("Seller Address Line 2", "Eine zusätzliche Adresszeile in einer Anschrift, die verwendet werden kann, um weitere Einzelheiten in Ergänzung zur Hauptzeile anzugeben.") <!-- BT-36 -->
            @GenerateInputField("Seller Address Line 3", "Eine zusätzliche Adresszeile in einer Anschrift, die verwendet werden kann, um weitere Einzelheiten in Ergänzung zur Hauptzeile anzugeben.") <!-- BT-162 -->
            @GenerateInputField("Seller Country Subdivision", "Die Unterteilung eines Landes (wie Region, Bundesland, Provinz etc.).") <!-- BT-39 -->
          </div>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_SELLER-CONTACT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <div id="group_SELLER-CONTACT">
            @GenerateInputField("Seller Contact Point", "Angaben zu Ansprechpartner oder Kontaktstelle (wie z. B. Name einer Person, Abteilungs- oder Bürobezeichnung).", true) <!-- BT-41 -->
            @GenerateInputField("Seller Contact Telephone Number", "Telefonnummer des Ansprechpartners oder der Kontaktstelle.", true) <!-- BT-42 -->
            @GenerateInputField("Seller Contact Email Address", "Eine E-Mail-Adresse des Ansprechpartners oder der Kontaktstelle.", true) <!-- BT-43 -->
          </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_BUYER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="inputContainer">
          <div id="group_BUYER">
            @GenerateInputField("Buyer Name", "Der vollständige Name des Erwerbers.", true) <!-- BT-44 -->
            @GenerateInputField("Buyer Electronic Address", "Gibt eine elektronische Adresse des Erwerbers an, an die eine Rechnung gesendet werden sollte.", true, inputType="email") <!-- BT-49 -->
            @GenerateInputField("Buyer Trading Name", "Ein Name, unter dem der Erwerber bekannt ist, sofern abweichend vom Namen des Erwerbers.") <!-- BT-45 -->
            @GenerateInputField("Buyer Identifier", "Eine (i.d.R. vom Verkäufer vergebene) Kennung des Erwerbers.") <!-- BT-46 -->
            @GenerateInputField("Buyer Legal Registration Identifier", "Ein von einer offiziellen Registrierstelle ausgegebener Bezeichner, der den Erwerber als Rechtsträger oder juristische Person identifiziert.") <!-- BT-47 -->
            @GenerateInputField("Buyer VAT Identifier", "Die Umsatzsteuer-Identifikationsnummer des Erwerbers.") <!-- BT-48 -->
          </div>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_BUYER-POSTAL-ADDRESS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <div id="group_BUYER-POSTAL-ADDRESS">
            @GenerateInputField("Buyer City", "Die Bezeichnung der Stadt oder Gemeinde, in der sich die Erwerberanschrift befindet.", true) <!-- BT-52 -->
            @GenerateInputField("Buyer Post Code", "Die Postleitzahl.", true) <!-- BT-53 -->
            @GenerateInputField("Buyer Country Code", "Ein Code, mit dem das Land bezeichnet wird.", true, classes="awesomplete", data="ISO_ISOTwo-letterCountryCode_SecondEdition2006.xsd") <!-- BT-55 -->
            @GenerateInputField("Buyer Address Line 1", "Die Hauptzeile einer Anschrift. Üblicherweise ist dies entweder Strasse und Hausnummer oder der Text „Postfach“ gefolgt von der Postfachnummer.") <!-- BT-50 -->
            @GenerateInputField("Buyer Address Line 2", "Eine zusätzliche Adresszeile in einer Anschrift, die verwendet werden kann, um weitere Einzelheiten in Ergänzung zur Hauptzeile anzugeben.") <!-- BT-51 -->
            @GenerateInputField("Buyer Address Line 3", "Eine zusätzliche Adresszeile in einer Anschrift, die verwendet werden kann, um weitere Einzelheiten in Ergänzung zur Hauptzeile anzugeben.") <!-- BT-163 -->
            @GenerateInputField("Buyer Country Subdivision", "Die Unterteilung eines Landes (wie Region, Bundesland, Provinz etc.).") <!-- BT-54 -->
          </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_PAYEE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="inputContainer">
          <button type="button" class="buttonForOptionalGroups">PAYEE einblenden</button>
          <div id="group_PAYMENT-INSTRUCTIONS">
            @GenerateInputField("Payee Name", "Der Name des Zahlungsempfängers.", true) <!-- BT-59 -->
            @GenerateInputField("Payee Identifier", "Eine Kennung für den Zahlungsempfänger.") <!-- BT-60 -->
            @GenerateInputField("Payee Legal Registration Identifier", "Eine von einer offiziellen Registrierstelle ausgegebene Kennung, die den Zahlungsempfänger als einen Rechtsträger oder eine juristische Person identifiziert.") <!-- BT-61 -->
          </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_SELLER-TAX-REPRESENTATIVE-PARTY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="inputContainer">
          <button type="button" class="buttonForOptionalGroups">SELLER TAX REPRESENTATIVE PARTY einblenden</button>
          <div id="group_SELLER-TAX-REPRESENTATIVE-PARTY">
            @GenerateInputField("Seller Tax Representative Name", "Der vollständige Name des Steuervertreters des Verkäufers.", true) <!-- BT-62 -->
            @GenerateInputField("Seller Tax Representative VAT Identifier", "Die Umsatzsteuer-Identifikationsnummer des Steuervertreters des Verkäufers.", true) <!-- BT-63 -->
          </div>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_SELLER-TAX-REPRESENTATIVE-POSTAL-ADDRESS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <div id="group_SELLER-TAX-REPRESENTATIVE-POSTAL-ADDRESS">
            @GenerateInputField("Tax Representative Address Line 1", "Die Hauptzeile in einer Anschrift. Üblicherweise ist dies entweder Strasse und Hausnummer oder der Text „Postfach“ gefolgt von der Postfachnummer.") <!-- BT-64 -->
            @GenerateInputField("Tax Representative Address Line 2", "Eine zusätzliche Adresszeile in einer Anschrift, die verwendet werden kann, um weitere Einzelheiten in Ergänzung zur Hauptzeile anzugeben.") <!-- BT-65 -->
            @GenerateInputField("Tax Representative Address Line 3", "Eine zusätzliche Adresszeile in einer Anschrift, die verwendet werden kann, um weitere Einzelheiten in Ergänzung zur Hauptzeile anzugeben.") <!-- BT-164 -->
            @GenerateInputField("Tax Representative City", "Die Bezeichnung der Stadt oder Gemeinde, in der sich die Anschrift des Steuervertreters befindet.") <!-- BT-66 -->
            @GenerateInputField("Tax Representative Post Code", "Die Postleitzahl.") <!-- BT-67 -->
            @GenerateInputField("Tax Representative Country Subdivision", "Die Unterteilung eines Landes.") <!-- BT-68 -->
            @GenerateInputField("Tax Representative Country Code", "Ein Code, mit dem das Land bezeichnet wird.", true, classes="awesomplete", data="ISO_ISOTwo-letterCountryCode_SecondEdition2006.xsd") <!-- BT-69 -->
          </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_PAYMENT-INSTRUCTIONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="inputContainer">
          <div id="group_PAYMENT-INSTRUCTIONS">
            @GenerateInputField("Payment Means Type Code", "Das als Code ausgedrückte erwartete oder genutzte Zahlungsmittel. Hierzu wird auf die Codeliste UNTDID 4461 verwiesen.", true, classes="awesomplete", data="UNECE_PaymentMeansCode_D16A.xsd") <!-- BT-81 -->
            @GenerateInputField("Payment Means Text", "Das in Textform ausgedrückte erwartete oder genutzte Zahlungsmittel.") <!-- BT-82 -->
            @GenerateInputField("Remittance Information", "Ein Textwert, der zur Verknüpfung der Zahlung mit der vom Verkäufer ausgestellten Rechnung verwendet wird.") <!-- BT-83 -->
          </div>
        </div>
        <div id="positionContainer">
        </div>
        <button type="button" id="addPositionButton">Position hinzufügen</button>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_DOCUMENT-TOTALS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="inputContainer">
          <div id="group_DOCUMENT-TOTALS">
            @GenerateInputField("Sum Of Invoice Line Net Amount", "Summe aller \"Invoice line net amount\" der Rechnung.", true, classes="datatypeAmount") <!-- BT-106 -->
            @GenerateInputField("Invoice Total Amount Without VAT", "Der Gesamtbetrag der Rechnung ohne Umsatzsteuer.", true, classes="datatypeAmount") <!-- BT-109 -->
            @GenerateInputField("Invoice Total Amount With VAT", "Der Gesamtbetrag der Rechnung mit Umsatzsteuer.", true, classes="datatypeAmount") <!-- BT-112 -->
            @GenerateInputField("Amount Due For Payment", "Der ausstehende Betrag, der zu zahlen ist.", true, classes="datatypeAmount") <!-- BT-115 -->
            @GenerateInputField("Sum Of Allowances On Document Level", "Summe aller in der Rechnung enthaltenen \"Document level allowance amount\".", classes="datatypeAmount") <!-- BT-107 -->
            @GenerateInputField("Sum Of Charges On Document Level", "Summe aller in der Rechnung enthaltenen \"Document level charge amount\".", classes="datatypeAmount") <!-- BT-108 -->
            @GenerateInputField("Invoice Total VAT Amount", "Der Gesamtbetrag der Umsatzsteuer für die Rechnung.", classes="datatypeAmount") <!-- BT-110 -->
            @GenerateInputField("Invoice Total VAT Amount In Accounting Currency", "Der Umsatzsteuergesamtbetrag, angegeben in der Abrechnungswährung, die im Land des Verkäufers gültig ist oder verlangt wird.", classes="datatypeAmount") <!-- BT-111 -->
            @GenerateInputField("Paid Amount", "Summe bereits gezahlter Beträge.", classes="datatypeAmount") <!-- BT-113 -->
            @GenerateInputField("Rounding Amount", "Der Betrag, um den der Rechnungsbetrag gerundet wurde.", classes="datatypeAmount") <!-- BT-114 -->
          </div>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_VAT-BREAKDOWN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="inputContainer">
          <div id="group_VAT-BREAKDOWN">
            @GenerateInputField("VAT Category Taxable Amount", "Summe aller zu versteuernden Beträge, für die ein bestimmter Code der Umsatzsteuerkategorie und ein bestimmter Umsatzsteuersatz gelten.", true, classes="datatypeAmount") <!-- BT-116 -->
            @GenerateInputField("VAT Category Tax Amount", "Der für die betreffende Umsatzsteuerkategorie zu entrichtende Gesamtbetrag", true, classes="datatypeAmount") <!-- BT-117 -->
            <div>
              <label for="VATCategoryCode">VAT Category Code:</label>
              <select name="VATCategoryCode" required> <!-- BT-118 -->
                <option disabled selected value=""> -- select a code -- </option>
                <option value="S">S (Standard rate)</option>
                <option value="Z">Z (Zero rated goods)</option>
                <option value="E">E (Exempt from tax)</option>
                <option value="AE">AE (VAT Reverse Charge)</option>
                <option value="K">K (VAT exempt for EEA intra-community supply of goods and services)</option>
                <option value="G">G (Free export item, tax not charged)</option>
                <option value="O">O (Services outside scope of tax)</option>
                <option value="L">L (Canary Islands general indirect tax)</option>
                <option value="M">M (Tax for production, services and importation in Ceuta and Melilla)</option>
              </select>
              <div class="tooltip">
                <i class="fa-solid fa-circle-info"></i>
                <span>Codierte Bezeichnung einer Umsatzsteuerkategorie.</span>
              </div>
            </div>
            @GenerateInputField("VAT Category Rate", "Der Umsatzsteuersatz, angegeben als für die betreffende Umsatzsteuerkategorie geltender Prozentsatz.", true, classes="datatypePercentage") <!-- BT-119 -->
            @GenerateInputField("VAT Exemption Reason Text", "In Textform angegebener Grund für die Ausnahme des Betrages von der Umsatzsteuerpflicht") <!-- BT-120 -->
            @GenerateInputField("VAT Exemption Reason Code", "Ein Code für den Grund für die Ausnahme des Betrages von der Umsatzsteuerpflicht") <!-- BT-121 -->
          </div>
        </div>
        <div class="buttonContainer">
          <input type="submit" name="submitInvoice" value="Rechnung generieren & validieren">
        </div>
      </form>
    </div>
}
