@import utility.html.FormInputHelper._
@import utility.inputNames._
@(positionID: Int, positionType: String)(content: Html)
<div class="inputContainer invoicePosition">
    <input type="hidden" name="positionIDcontainer" value=@positionID readonly></input> <!-- Stores the ID of the postion for easy access on the backend -->
    <input type="hidden" name='@("positionTypecontainer" + positionID)' value=@positionType readonly></input> <!-- Stores the type of the postion for easy access on the backend -->
    @GenerateInputField(InputName.InvoiceLineIdentifier(positionID), "Nr", "ID der Rechnungsposition. Nicht bearbeitbar.", readOnly=true, defaultValue=positionID.toString) <!-- BT-126. Can not contain a comma! -->
    @GenerateInputField(InputName.ItemName(positionID), "Bezeichnung", "Ein Name des Postens.", true) <!-- BT-153 -->
    @content
    <div class="inputfield">
        <div class="inputDataField">
            <label for='@(InputName.InvoicedItemVATCategoryCode(positionID))'>Steuerkategorie:</label>
            <select name='@(InputName.InvoicedItemVATCategoryCode(positionID))' required>
                <option disabled selected value=""> -- select a code -- </option>
                <option value="S">S (Standard rate)</option>
                <option value="Z">Z (Zero rated goods)</option>
                <option value="E">E (Exempt from tax)</option>
                <option value="AE">AE (VAT Reverse Charge)</option>
                <option value="K">K (VAT exempt for EEA intra-community <br><br> supply of goods and services)</option>
                <option value="G">G (Free export item, tax not charged)</option>
                <option value="O">O (Services outside scope of tax)</option>
                <option value="L">L (Canary Islands general indirect tax)</option>
                <option value="M">M (Tax for production, services and <br> importation in Ceuta and Melilla)</option>
            </select>
            <div class="tooltip">
                <i class="fa-solid fa-circle-info"></i>
                <span>Der Code der für den in Rechnung gestellten Posten geltenden Umsatzsteuerkategorie.</span>
            </div>
        </div>
        <div class="errorDisplay">
        </div>
    </div> <!-- BT-151 -->
    @GenerateInputField(InputName.InvoicedItemVATRate(positionID), "Umsatzsteuersatz", "Der für den in Rechnung gestellten Posten geltende und als Prozentsatz angegebene Umsatzsteuersatz.<br> Bsp. für Format: 19,5 % werden als 19.5 angegeben.", true, classes="datatypePercentage") <!-- BT-152 -->
    @GenerateInputField(InputName.InvoiceLineNetAmount(positionID), "Gesamtwert", "Berechneter Gesamtwert für diese Position. Nicht bearbeitbar.", classes="datatypeAmount", readOnly=true) <!-- only an overview for the user, value is calculated dynamically from InvoicedQuantity, ItemNetPrice and InvoicedItemVATRate -->
    <div class="buttonContainer">
        <button type="button" class="removePositionButton">Position entfernen</button>
    </div>
</div>
