@import utility.html.FormInputHelper._
@import utility.inputNames._
@(positionID: Int)
@invoicePosition_generic(positionID, "item") {
    @GenerateInputField(InputName.InvoicedQuantity(positionID), "Menge", "Die Menge an Einheiten für diese Position.", true, classes="datatypeQuantity") <!-- BT-129 -->
    @GenerateInputField(InputName.InvoicedQuantityUnitOfMeasureCode(positionID), "Code der Maßeinheit", "Die für die \"Invoiced Quantity\" geltende Maßeinheit.", true, classes="awesomplete", data="InvoicedQuantityUnitOfMeasureCodes.xsd") <!-- BT-130 -->
    @GenerateInputField(InputName.ItemNetPrice(positionID), "Stückpreis", "Der Preis pro Einheit.", true, classes="datatypeAmount") <!-- BT-146 -->
}
