@import utility.FormInputHelper._
@(title: String, stylesheetlink: String)(content: Html)
@main(title, stylesheetlink){
    <form action="@routes.HomeController.generateEInvoice()" method="post" id="invoicecontainer" target="_blank">
        <div>
            @GenerateInputField("InvoiceNumber", "Rechnungsnummer", "Eindeutige Kennung der Rechnung", true)
            @GenerateInputField("InvoiceIssueDate", "Erstelldatum der Rechung", "Das Datum, an dem die Rechnung ausgestellt wurde", true, inputType="date") <!-- BT-2 -->
        </div>
        <div>
            @GenerateInputField("SellerName", "Name des Verkäufers", "Der vollständige Name, unter dem der Verkäufer im nationalen Register für juristische Personen oder als steuerpflichtige Person eingetragen ist oder anderweitig als Person(en) handelt (Firma).", true) <!-- BT-27 -->
            @GenerateInputField("SellerAddressLine1", "Straße", "Die Hauptzeile in einer Anschrift. Üblicherweise ist dies entweder Strasse und Hausnummer oder der Text „Postfach“ gefolgt von der Postfachnummer.") <!-- BT-35 -->
            @GenerateInputField("SellerPostCode", "PLZ", "Die Postleitzahl.") <!-- BT-38 -->
            @GenerateInputField("SellerCity", "Stadt", "Die Bezeichnung der Stadt oder Gemeinde, in der sich die Verkäuferanschrift befindet.") <!-- BT-37 -->
            @GenerateInputField("", "Tel", "lorem ipsum")
            @GenerateInputField("", "Fax", "lorem ipsum")
            @GenerateInputField("", "Website Link", "lorem ipsum")
            @GenerateInputField("SellerElectronicAddress", "E-Mail", "Gibt die elektronische Adresse des Verkäufers an, an die die Antwort der Anwendungsebene auf eine Rechnung gesendet werden kann.", inputType="email") <!-- BT-34 -->
        </div>
        <div>
            @GenerateInputField("SellerContactPoint", "Zustandig", "Angaben zu Ansprechpartner oder Kontaktstelle (wie z. B. Name einer Person, Abteilungs- oder Bürobezeichnung).") <!-- BT-41 -->
            @GenerateInputField("SellerContactTelephoneNumber", "Telefon", "Telefonnummer des Ansprechpartners oder der Kontaktstelle.") <!-- BT-42 -->
            @GenerateInputField("SellerContactEmailAddress", "E-Mail", "Eine E-Mail-Adresse des Ansprechpartners oder der Kontaktstelle.") <!-- BT-43 -->
        </div>
        <div>
            @GenerateInputField("InvoiceLineIdentifier", "Pos.", "lorem ipsum") <!-- BT-126 -->
            @GenerateInputField("InvoiceCurrencyCode", "Einheit", "lorem ipsum") <!-- BT-5 -->
            @content
            @GenerateInputField("InvoiceLineNetAmount", "Gesamtwert", "lorem ipsum") <!-- BT-131 ? -->
        </div>
        <div>
            @GenerateInputField("InvoiceNote", "Zahlungsbedingung:", "lorem ipsum") <!-- BT-22 -->
        </div>
        <input type="submit" name="submitInvoice" value="Rechnung generieren & validieren">
    </form>
}
