@(implicit request: RequestHeader)
@import utility.FormInputHelper._
@invoice_generic("Rechnung Time", "main2.css"){
    @helper.CSRF.formField
    @GenerateInputField("Worked Time", "lorem ipsum", true)
    @GenerateInputField("Worked Time", "lorem ipsum", true)
    @GenerateInputField("Worked Time", "lorem ipsum", true)
    @GenerateInputField("Worked Time", "lorem ipsum", true)
    @GenerateInputField("Worked Time", "lorem ipsum", true)
    @GenerateInputField("Worked Time", "lorem ipsum", true)
    @GenerateInputField("Worked Time", "lorem ipsum", true)
    @GenerateInputField("Worked Time", "lorem ipsum", true)
    @GenerateInputField("Worked Time", "lorem ipsum", true)
    @GenerateInputField("Worked Time", "lorem ipsum", true)
    @GenerateInputField("Worked Time", "lorem ipsum", true)
    @GenerateInputField("Worked Time", "lorem ipsum", true)
    @GenerateInputField("Worked Time", "lorem ipsum", true)
    @GenerateInputField("Worked Time", "lorem ipsum", true)
}
