@(positionID: String)
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_INVOICE-LINE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="inputContainer">
    <div class="buttonContainer">
        <button type="button" class="removePositionButton">Position entfernen</button>
    </div>
    <div id="group_INVOICE-LINE">
        <div>
            <label for="InvoiceLineIdentifier">Invoice Line Identifier: @positionID</label>
            <input type="text" name="InvoiceLineIdentifier">
            <div class="tooltip">
            <i class="fa-solid fa-circle-info"></i>
            <span>Eindeutige Bezeichnung für die betreffende Rechnungsposition.</span>
            </div>
        </div>
        <div>
            <label for="InvoicedQuantity">Invoiced Quantity:</label>
            <input type="text" name="InvoicedQuantity">
            <div class="tooltip">
            <i class="fa-solid fa-circle-info"></i>
            <span>Die Menge zu dem in der betreffenden Zeile in Rechnung gestellten Einzelposten (Waren oder Dienstleistungen).</span>
            </div>
        </div>
        <div>
            <label for="InvoicedQuantityUnitOfMeasureCode">Invoiced Quantity Unit Of Measure Code:</label>
            <input type="text" name="InvoicedQuantityUnitOfMeasureCode">
            <div class="tooltip">
            <i class="fa-solid fa-circle-info"></i>
            <span>Die für die "Invoiced Quantity" geltende Maßeinheit.</span>
            </div>
        </div>
        <div>
            <label for="InvoiceLineNetAmount">Invoice Line Net Amount:</label>
            <input type="text" name="InvoiceLineNetAmount">
            <div class="tooltip">
            <i class="fa-solid fa-circle-info"></i>
            <span>Der Gesamtbetrag der Rechnungsposition. Dies ist der Betrag ohne Umsatzsteuer, aber einschließlich aller für
                die Rechnungsposition geltenden Nachlässe und Abgaben sowie sonstiger anfallender Steuern.</span>
            </div>
        </div>
    </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_PRICE-DETAILS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="group_PRICE-DETAILS">
        <div>
            <label for="ItemNetPrice">Item Net Price:</label>
            <input type="text" name="ItemNetPrice">
            <div class="tooltip">
            <i class="fa-solid fa-circle-info"></i>
            <span>Der Preis eines Postens, ohne Umsatzsteuer, nach Abzug des für diese Rechnungsposition geltenden Rabatts.</span>
            </div>
        </div>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_LINE-VAT-INFORMATION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="group_LINE-VAT-INFORMATION">
        <div>
            <label for="InvoicedItemVATCategoryCode">Invoiced Item VAT Category Code:</label>
            <input type="text" name="InvoicedItemVATCategoryCode">
            <div class="tooltip">
            <i class="fa-solid fa-circle-info"></i>
            <span>Der Code der für den in Rechnung gestellten Posten geltenden Umsatzsteuerkategorie.</span>
            </div>
        </div>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ group_ITEM-INFORMATION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div id="group_ITEM-INFORMATION">
        <div>
            <label for="ItemName">Item Name:</label>
            <input type="text" name="ItemName">
            <div class="tooltip">
            <i class="fa-solid fa-circle-info"></i>
            <span>Ein Name des Postens.</span>
            </div>
        </div>
    </div>
</div>
