@import utility.html.FormInputHelper._
@import utility.inputNames._
@(vatCategory: String, vatRate: String)
<div class="vatIDPositionContainer">
    @GenerateInputField(InputName.VATGroupCategory, "Steuerkategorie", "Die Steuerketegorie für alle Positionen in dieser Gruppe.", readOnly=true, defaultValue=vatCategory)
    @GenerateInputField(InputName.VARGroupRate, "Umsatzsteuersatz", "Der Steuersatz für alle Positionen in dieser Gruppe.", readOnly=true, defaultValue=vatRate)
    @GenerateInputField(InputName.VATGroupExemptionReasonText(vatCategory, vatRate), "Grund für Befreiung von Umsatzsteuer", "In Textform angegebener Grund für die Ausnahme des Betrages von der Umsatzsteuerpflicht.")<!-- BT-120 -->
</div>
